In [1]:
#IMPORT THE libraries
import pandas as pd
import os
import matplotlib.pyplot as plt
import numpy as np

In [2]:
#Get the current working directory
print(os.getcwd())

C:\Users\BrindhaM\Documents\CelStrat MlL\My Site\Dimension Reduction

In [4]:
#Read the file
df=pd.read_csv("Health.csv")

In [5]:
#Get the df shape
df.shape

(9, 4)

In [48]:
#Print the column names
df.columns.values

array(['Ethnicity', 'Height (CM)', 'Weight (Kg)', 'Will survive till 70'],
      dtype=object)

In [54]:
df

  Ethnicity  Height (CM)  Weight (Kg) Will survive till 70
0     White        186.0         90.0                  Yes
1   African        185.0         98.0                   No
2     White        175.0         80.0                   No
3     White        180.0         88.0                  Yes
4     Asian        178.0          NaN                   No
5     Asian        172.0         72.0                  Yes
6   African        178.0         75.0                   No
7     White          NaN         89.0                  Yes
8   African        186.0         90.0                  Yes

In [55]:
#Explore if there is any missing values
print(df.isnull().sum())
#There are two missing values

Ethnicity               0
Height (CM)             1
Weight (Kg)             1
Will survive till 70    0
dtype: int64

In [56]:
#check the correlation between the values 
print(df.corr())

             Height (CM)  Weight (Kg)
Height (CM)     1.000000     0.873645
Weight (Kg)     0.873645     1.000000

In [57]:
#The above results shows the correlation between height and weight
#The categorical values are excluded from the results as they are not umerical
#Split into X and Y
X=df.iloc[:,:-1]
Y=df.iloc[:,-1]

In [58]:
#Pring the X and Y shape
X.shape

(9, 3)

In [59]:
#Pring the Y shape
Y.shape

(9,)

In [60]:
#X data
X

  Ethnicity  Height (CM)  Weight (Kg)
0     White        186.0         90.0
1   African        185.0         98.0
2     White        175.0         80.0
3     White        180.0         88.0
4     Asian        178.0          NaN
5     Asian        172.0         72.0
6   African        178.0         75.0
7     White          NaN         89.0
8   African        186.0         90.0

In [61]:
Y

0    Yes
1     No
2     No
3    Yes
4     No
5    Yes
6     No
7    Yes
8    Yes
Name: Will survive till 70, dtype: object

In [62]:
#Handle the missing values
#Use the imputer to fill the missing values
from sklearn.preprocessing import Imputer
#Create a reference to imputer
#Need to undrstand the imputer stratgey withe mean along the column values
#Please note that only integer values cane be imputed
missingvalue=Imputer(missing_values='NaN', strategy='mean', axis=0, verbose=0)
X.iloc[:,1:3]=missingvalue.fit_transform(X.iloc[:,1:3])

In [63]:
#Print the X transformed data
X

  Ethnicity  Height (CM)  Weight (Kg)
0     White        186.0        90.00
1   African        185.0        98.00
2     White        175.0        80.00
3     White        180.0        88.00
4     Asian        178.0        85.25
5     Asian        172.0        72.00
6   African        178.0        75.00
7     White        180.0        89.00
8   African        186.0        90.00

In [64]:
#chekc the null values count
print(X.isnull().sum())

Ethnicity      0
Height (CM)    0
Weight (Kg)    0
dtype: int64

In [67]:
#Convert the ethnicity alos to numeric values for machine to proces
#Use the encoder to do the same
from sklearn.preprocessing import LabelEncoder
LE=LabelEncoder()
#apply on ethicity column
#Apply toarray to convert from sparse matrix to dense array.
X.iloc[:,0]=LE.fit_transform(X.iloc[:,0])

In [68]:
#print the X data to view the enthicity column
X

   Ethnicity  Height (CM)  Weight (Kg)
0          2        186.0        90.00
1          0        185.0        98.00
2          2        175.0        80.00
3          2        180.0        88.00
4          1        178.0        85.25
5          1        172.0        72.00
6          0        178.0        75.00
7          2        180.0        89.00
8          0        186.0        90.00

In [69]:
#Now to avoid any comparison between the numeric values of ethicity use OneHotEncoder
from sklearn.preprocessing import OneHotEncoder
#One hot encoder oututs a sparse numpy array.(Creating a sparse array gives problem
#for transform)
OE=OneHotEncoder(categorical_features = [0],sparse=False)
X=OE.fit_transform(X)

In [70]:
#Print the X
#The output is printed right since 3 categorical values present
X

array([[  0.  ,   0.  ,   1.  , 186.  ,  90.  ],
       [  1.  ,   0.  ,   0.  , 185.  ,  98.  ],
       [  0.  ,   0.  ,   1.  , 175.  ,  80.  ],
       [  0.  ,   0.  ,   1.  , 180.  ,  88.  ],
       [  0.  ,   1.  ,   0.  , 178.  ,  85.25],
       [  0.  ,   1.  ,   0.  , 172.  ,  72.  ],
       [  1.  ,   0.  ,   0.  , 178.  ,  75.  ],
       [  0.  ,   0.  ,   1.  , 180.  ,  89.  ],
       [  1.  ,   0.  ,   0.  , 186.  ,  90.  ]])

In [71]:
#Since height and weight are in different metrics ( Cms,Kg) we will convert to 
#standard feature scaling methods
from sklearn.preprocessing import MinMaxScaler
MS=MinMaxScaler()
X=MS.fit_transform(X)

In [72]:
#Print the transformed values
X

array([[0.        , 0.        , 1.        , 1.        , 0.69230769],
       [1.        , 0.        , 0.        , 0.92857143, 1.        ],
       [0.        , 0.        , 1.        , 0.21428571, 0.30769231],
       [0.        , 0.        , 1.        , 0.57142857, 0.61538462],
       [0.        , 1.        , 0.        , 0.42857143, 0.50961538],
       [0.        , 1.        , 0.        , 0.        , 0.        ],
       [1.        , 0.        , 0.        , 0.42857143, 0.11538462],
       [0.        , 0.        , 1.        , 0.57142857, 0.65384615],
       [1.        , 0.        , 0.        , 1.        , 0.69230769]])